<%- include("layouts/head") %>
<h1 class="text-center mt-4 mt-sm-5 h2">Библиотека</h1>
<% if(books.length){ %>
    <div class="mt-4">
        <table class="table mx-auto table-striped mb-0">
            <thead class="container">
                <tr class="row thead-dark">
                    <th class="col-2 col-sm-1">#</th>
                    <th class="col-6 col-sm-8">Название книги</th>
                    <th class="col-4 col-sm-3">Авторы</th>
                </tr>
            </thead>
            <tbody class="container overflow-auto border-bottom">
                <% books.forEach(function(element, index, array){ %>
                <tr class="row">
                    <td class="col-2 col-sm-1"><%= index + 1 %></td>
                    <td class="col-6 col-sm-8">
                        <%= element.name %>
                    </td>
                    <td class="col-4 col-sm-3">
                        <%= element.authors.length %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
<% } else { %>
    <p class="text-center">Книг удовлетворяющих запросу не найдено</p>
<% } %>
</body>
